{{ block title }}
{{ endblock }}
{{ block content }}
<link rel="stylesheet" href="{{static 'css/css.css'}}">
<link rel="stylesheet" href="{{static 'css/modal.css'}}">
<script type="text/javascript" src="{{ static 'js/Script_modal.js' }}"></script>
<script type="text/javascript" src="{{ static 'js/data_quality.js' }}"></script>
<style>
    table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
  }
  td {
    border: none;
    text-align: center;
    vertical-align: top;
    padding: 0px;
  }
</style>
<div class="content-box box-info">
  <div class="section-header text-center">
    <h3>✅ Comprehension Check</h3>
    <hr class="section-divider">
  </div>
  <div class="section-box-nonhover box-warning">
    <div class="section-header">
      <p>
      <strong>You answered at least one question incorrectly.</strong> Please review the instructions and try again.
      </p>
    </div>
  </div>
  <form method="post">
      <div class="qa-box">
  <h4>1. In round 1, which mix could a participant have received?</h4>
        {{ if player.CQ1_incorrect == 1 }}<font color="#FF0000">Your answer to question 1 was incorrect.
        Participants could have received either Mix 1 or Mix 2, as each participant was randomly assigned to one of the two mixes.</font> {{ endif }}
        <br>
  <center>
    <table>
      <tr>
        <td style="width: 33%;">
          <div class="q-label">Mix 1 only</div>
          <div class="radio-wrapper"><input type="radio"
               name="CQ1"
               value=1
               id="CQ1_1"
               {{ if player.CQ1 == 1 }}checked{{ endif }}
               ></div>
        </td>
        <td style="width: 33%;">
          <div class="q-label">Mix 2 only</div>
          <div class="radio-wrapper"><input type="radio"
               name="CQ1"
               value=2
               id="CQ1_2"
               {{ if player.CQ1 == 2 }}checked{{ endif }}
               ></div>
        </td>
        <td style="width: 33%;">
          <div class="q-label">Either Mix 1 or Mix 2</div>
          <div class="radio-wrapper"><input type="radio"
               name="CQ1"
               value=3
               id="CQ1_3"
               {{ if player.CQ1 == 3 }}checked{{ endif }}
               ></div>
        </td>
      </tr>
{{ formfield_errors 'CQ1' }}
    </table>
  </center>
</div>
      <br>
      <div class="qa-box">
  <h4>2. Will you know which mix (Mix 1 or Mix 2) each participant received in round 1?</h4>
        {{ if player.CQ2_incorrect == 1 }}<font color="#FF0000">Your answer to question 2 was incorrect.
        You will only see each participant's round 1 score. You will not know which mix they received.</font> {{ endif }}
        <br>
  <center>
    <table>
      <tr>
        <td>
          <div class="q-label">Yes, I will see which mix<br>each participant received</div>
          <div class="radio-wrapper"><input type="radio"
               name="CQ2"
               value=1
               id="CQ2_1"
               {{ if player.CQ2 == 1 }}checked{{ endif }}
               ></div>
        </td>
        <td>
          <div class="q-label">No, I will only see<br>their round 1 score</div>
          <div class="radio-wrapper"><input type="radio"
               name="CQ2"
               value=2
               id="CQ2_2"
               {{ if player.CQ2 == 2 }}checked{{ endif }}
               ></div>
        </td>
      </tr>
{{ formfield_errors 'CQ2' }}
    </table>
  </center>
</div>
      <br>
      <div class="qa-box">
  <h4>3. In round 2, what type of pairs will all participants face?</h4>
        {{ if player.CQ3_incorrect == 1 }}<font color="#FF0000">Your answer to question 3 was incorrect.
        In round 2, all participants will face only hard pairs.</font> {{ endif }}
        <br>
  <center>
    <table>
      <tr>
        <td style="width: 33%;">
          <div class="q-label">Only easy pairs</div>
          <div class="radio-wrapper"><input type="radio"
               name="CQ3"
               value=1
               id="CQ3_1"
               {{ if player.CQ3 == 1 }}checked{{ endif }}
               ></div>
        </td>
        <td style="width: 33%;">
          <div class="q-label">Only hard pairs</div>
          <div class="radio-wrapper"><input type="radio"
               name="CQ3"
               value=2
               id="CQ3_2"
               {{ if player.CQ3 == 2 }}checked{{ endif }}
               ></div>
        </td>
        <td style="width: 33%;">
          <div class="q-label">Either Mix 1 or Mix 2</div>
          <div class="radio-wrapper"><input type="radio"
               name="CQ3"
               value=3
               id="CQ3_3"
               {{ if player.CQ3 == 3 }}checked{{ endif }}
               ></div>
        </td>
      </tr>
{{ formfield_errors 'CQ3' }}
    </table>
  </center>
</div>
<br><br>
  <div class="buttons-container">
    <div class="instructions-box">
      <p class="instructions-title">Instruction Buttons</p>
      <div class="Instructions">
        <a id="myBtn" onclick="open_modal(1)" class="otree-btn-next btn btn-primary">
          Study Instructions
        </a>
        <a id="myBtn" onclick="open_modal(2)" class="otree-btn-next btn btn-primary">{{task}} task</a>
        <a id="myBtn" onclick="open_modal(3)" class="otree-btn-next btn btn-primary">Selection instructions</a>
      </div>
    </div>
    
    <button id="NextButton" class="otree-btn-next btn btn-primary">Next</button>
      </form>
  </div>
</div>
</div>
<!-- Instruction Modal -->
<div id="myModal1" class="modal">
  <div class="modal-content">
      <div class="modal-header">
        <h2>Instructions</h2>
        <span class="close" onclick="span_click(1)">&times;</span>
      </div>
    <p style="padding: 0px">
   {{include Instructions_path}}
    </p>
  </div>
</div>
<div id="myModal2" class="modal">
    <div class="modal-content">
        <div class="modal-header">
          <h2>Task Instructions</h2>
          <span class="close" onclick="span_click(2)">&times;</span>
        </div>
      <p style="padding: 0px">
      {{include Task_instructions}}
      </p>
    </div>
</div>

<div id="myModal3" class="modal">
    <div class="modal-content">
        <div class="modal-header">
          <h2>Selection Instructions</h2>
          <span class="close" onclick="span_click(3)">&times;</span>
        </div>
      <p style="padding: 0px">
      {{include Selection_instructions}}
      </p>
    </div>
</div>
<div style="display:none;">
  {% for field in form %}
    {% if field.name in hidden_fields %}
      {{ formfield field.name }}
      {{ formfield_errors field.name }}
    {% endif %}
  {% endfor %}
</div>
{{ endblock }}